.sidebar-profile {
    width: 100%;
    padding: {
        top: 1.4rem;
        bottom: 1.4rem;
    };
    display: flex;
    flex-direction: row;
    color: #fff;
    background-color: #202020;
    &-name {
        padding-bottom: .3rem;
    }

    &-setup {
        margin-left: 1rem;
    }
}