.tasks-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.8rem;
    &-wrap {
        padding-bottom: 1.2rem;
    }
    &-col {
        padding: 1.2rem;
        margin-bottom: .8rem;
        background-color: #F7F6F3;
        border-radius: .2rem;
        transition: .4s all ease-in;
        border: 1px solid #F7F6F3;
        &.active {
            border-color: #00c400;
            background-color: #FFF8DD;
        }
        &:hover {

        }
    }
    &-preview {
        margin-right: .6rem;
    }
    &-position {
        padding: .4rem;
        text-transform: uppercase;
        line-height: 1.2rem;
        border-radius: .4rem;
        &--development {
            background-color: #FFF1E2;
            color: #ED6400;
        }
        &--marketing {
            background-color: #F5F0FF;
            color: #764CED;
        }
        &--design {
            background-color: #E3EFFF;
            color: #1975D0;
        }
    }
    &-text {
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
    }
    //&-checkbox {
    //    position: absolute;
    //    z-index: -1;
    //    opacity: 0;
    //    +label {
    //        display: inline-flex;
    //        align-items: flex-start;
    //        user-select: none;
    //        &:before {
    //            margin-top: .1rem;
    //            content: '';
    //            display: inline-block;
    //            width: 30px;
    //            height: 30px;
    //            flex-shrink: 0;
    //            flex-grow: 0;
    //            border: 1px solid #adb5bd;
    //            border-radius: 0.25em;
    //            margin-right: 0.5em;
    //            background-repeat: no-repeat;
    //            background-position: center center;
    //            background-size: 50% 50%;
    //        }
    //    }
    //    &:checked+label::before {
    //        border-color: #CEF9C6;
    //        background-color: #CEF9C6;
    //        background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.5612 0.440289C10.9761 -0.144759 10.025 -0.147759 9.43693 0.437289L4.49831 5.3787L2.56007 3.44054C1.975 2.85549 1.02388 2.85549 0.438805 3.44054C-0.146268 4.02559 -0.146268 4.97667 0.438805 5.56171L3.43918 8.56196C3.73022 8.85299 4.11426 9 4.49831 9C4.88236 9 5.26641 8.85299 5.56044 8.56196L11.5612 2.56147C12.1463 1.97642 12.1463 1.02534 11.5612 0.440289Z' fill='%231D201C'/%3E%3C/svg%3E%0A");
    //    }
    //}
}

