.tasks-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.8rem;
    &-wrap {
        padding-bottom: 1.2rem;
    }
    &-col {
        padding: 1.2rem;
        margin-bottom: .8rem;
        background-color: #F7F6F3;
        border-radius: .2rem;
        border: 1px solid #F7F6F3;
        &.active {
            border-color: #00c400;
            background-color: #FFF8DD;
        }
        &:hover {

        }
    }
    &-preview {
        margin-right: .6rem;
    }
    &-position {
        padding: .4rem;
        text-transform: uppercase;
        line-height: 1.2rem;
        border-radius: .4rem;
        &--development {
            background-color: #FFF1E2;
            color: #ED6400;
        }
        &--marketing {
            background-color: #F5F0FF;
            color: #764CED;
        }
        &--design {
            background-color: #E3EFFF;
            color: #1975D0;
        }
    }
    &-text {
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
    }
}

