.task-open {
    max-width: 650px;
    width: 100%;
    padding: 1.8rem;
    background-color: #fff;
    border-radius: .3rem;
    &-header {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: space-between;
        .wrap{
            width: 100%;
        }
    }
    &-by {
        padding-bottom: 1.8rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.4rem;
        color: #131313;
    }
    &-tag {
        padding: .1rem .3rem;
        width: max-content;
        text-transform: uppercase;
        font-size: .9rem;
        &--development {
            background-color: #FFF1E2;
            color: #ED6400;
        }
        &--marketing {
            background-color: #F5F0FF;
            color: #764CED;
        }
        &--design {
            background-color: #E3EFFF;
            color: #1975D0;
        }
    }
    &-wrap {
        padding-top: .5rem;
        align-items: center;
    }
    &-subtitle {
        padding-bottom: .8rem;
        font-size: 1rem;
        font-weight: bold;
        line-height: 1.2rem;
        text-transform: uppercase;
    }
    &-text {
        padding: .2rem;
        width: 100%;
        font-size: .9rem;
        line-height: 1.4rem;
        resize: vertical;
        word-spacing: .0005rem;
        min-height: 180px;
        border: 1px solid rgba(0, 0, 0, 0);
        transition: .15s all ease;
        border-radius: .4rem;
        &:hover {
            border: 1px solid rgba(0, 0, 0, 0.29);
        }
    }
    &-preview {
        margin-right: .4rem;
    }
    .wrap {
        position: relative;
        &:focus {
            .change-rename {
                opacity: 1;
            }
        }
    }
    .change-rename {
        position: absolute;
        right: 0;
        bottom: .3rem;
        font-size: 1.4rem;
        cursor: pointer;
        opacity: .55;
        &:hover {
            opacity: 1;
        }
    }
    &-info {
        position: relative;
        padding-bottom: 1.8rem;
        margin-bottom: 1.8rem;
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #ECECEC;
        .col {
            display: flex;
            flex-direction: column;
            flex: auto;
        }
        .row {
            min-height: 20px;
            align-items: center;
        }
    }
    .follower {
        &-add {
            width: 1.4rem;
            height: 1.4rem;
            background-color: #EAEAEA;
            border-radius: 50%;
            color: #9B9B9B;
            font-size: 1.25rem;
            font-weight: bold;
            cursor: pointer;
            &:hover {
                color: #5b5b5b;
            }
        }
        &-wrap {
            width: 100%;
            height: max-content;
            padding: 1rem;
            position: absolute;
            display: flex;
            flex-direction: column;
            background-color: rgba(194, 194, 194, 0.85);
            img {
                opacity: .8;
                max-width: 20px;
                cursor: pointer;
                &:hover {
                    opacity: 1;
                }
            }
        }
        &-close {
            position: absolute;
            right: .41rem;
            top: .11rem;
            font-weight: bold;
            font-size: 1.3rem;
            cursor: pointer;
        }
    }
}