.task-open {
    max-width: 650px;
    width: 100%;
    padding: 1.8rem;
    background-color: #fff;
    border-radius: .3rem;
    &-header {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    &-by {
        padding-bottom: 1.8rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.4rem;
        color: #131313;
    }
    &-tag {
        padding: .1rem .3rem;
        width: max-content;
        text-transform: uppercase;
        font-size: .9rem;
        &--development {
            background-color: #FFF1E2;
            color: #ED6400;
        }
        &--marketing {
            background-color: #F5F0FF;
            color: #764CED;
        }
        &--design {
            background-color: #E3EFFF;
            color: #1975D0;
        }
    }
    &-wrap {
        padding-top: .5rem;
        align-items: center;
    }
    &-subtitle {
        padding-bottom: .8rem;
        font-size: 1rem;
        font-weight: bold;
        line-height: 1.2rem;
        text-transform: uppercase;
    }
    &-text {
        font-size: .9rem;
        line-height: 1.6rem;
    }
    &-preview {
        margin-right: .4rem;
    }
    &-info {
        padding-bottom: 1.8rem;
        margin-bottom: 1.8rem;
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #ECECEC;
        .col {
            display: flex;
            flex-direction: column;
            flex: auto;
        }
        .row {
            min-height: 20px;
            align-items: center;
        }
    }
}