.sidebar-task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 0;
    color: #fff;
    &-col {
        display: flex;
        flex-direction: column;
        font-weight: bold;
        flex: 0 0 50%;
    }
    &-title {
        font-size: 20px;
        padding-bottom: .3rem;
    }
    &-text {
        font-size: 12px;
        opacity: 0.5;
    }
}