.task-open-comment {
    padding-top: 1rem;
    form {
        display: flex;
        align-items: center;
        input {
            width: 100%;
            min-height: 40px;
            padding-left: 1rem;
            font-size: 1rem;
            outline: none;
            border: {
                style: none;
                radius: .4rem;
            };
            background-color: #EAEAEA;
        }
    }
    &-preview {
        max-width: 48px;
        &--form {
            margin-right: .8rem;
        }
    }
}