.task-open-comment {
    padding-top: 1rem;
    .wrap {
        display: flex;
        align-items: center;
        textarea {
            padding: 1rem;
            width: 100%;
            font-size: .85rem;
            outline: none;
            resize: none;
            border: 1px solid #fff;
            border-radius: .4rem;
            background-color: #efefef;
            transition: .3s all ease-in ;
            &.warning {
                border-color: #ff0000;
            }
            &.size {
                padding: {
                    top: 1.5rem;
                    bottom: 3.5rem;
                };
            }
        }
    }
    .comment-btn {
        padding-top: 1rem;
        align-self: flex-end;
    }
    &-preview {
        max-width: 48px;
        &--form {
            margin-right: .8rem;
        }
    }
}