.task-open-comment {
    padding-top: 1rem;
    .wrap {
        display: flex;
        align-items: center;
        textarea {
            padding: 1rem;
            width: 100%;
            min-height: 100px;
            max-height: 160px;
            font-size: .85rem;
            outline: none;
            resize: vertical;
            border: 1px solid #fff;
            border-radius: .4rem;
            background-color: #efefef;
            &.warning {
                border-color: #ff0000;
            }
        }
    }
    &-preview {
        max-width: 48px;
        &--form {
            margin-right: .8rem;
        }
    }
    .btn {
        margin-top: 1.8rem;
        padding: .6rem .8rem;
        width: max-content;
        align-self: flex-end;
        border-radius: 1.2rem;
        border: none;
        background-color: #CEF9C6;
        font-size: .9rem;
        font-weight: bold;
        cursor: pointer;
        transition: .4s all ease;
        &:hover {
            background-color: #a7ff96;
        }
    }
}