.task-open-comment {
    padding-top: 1rem;
    .wrap {
        display: flex;
        align-items: center;
        textarea {
            padding: 1rem;
            width: 100%;
            min-height: 100px;
            max-height: 160px;
            font-size: .85rem;
            outline: none;
            resize: vertical;
            border: 1px solid #fff;
            border-radius: .4rem;
            background-color: #efefef;
            &.warning {
                border-color: #ff0000;
            }
        }
    }
    &-preview {
        max-width: 48px;
        &--form {
            margin-right: .8rem;
        }
    }
}