.app {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100vh;
    &-content {
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #aaaba3;
    }
    &-title {
        width: 100%;
        min-height: max-content;
        font-size: 26px;
        line-height: 38px;
        font-weight: bold;
        resize: none;
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0);
        transition: .15s all ease;
        border-radius: .4rem;
        &:hover {
            border: 1px solid rgba(0, 0, 0, 0.29);
        }
        &--open {
            display: inline-flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
        }
        &:focus {
            border-color: #000;
        }
    }
}