.tasks-button {
    max-width: 110px;
    width: 100%;
    padding: .7rem;
    background-color: #a7ff96;
    border-radius: 1.2rem;
    border:none;
    font-weight: bold;
    color: #000;
    cursor: pointer;
    transition: .4s all ease-in;
    &:hover {
        background-color: #70ff50;
    }
    &[disabled] {
        opacity: 0.4;
        &:hover {
            opacity: 0.4;
        }
    }
}